fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
slowapi
sentence-transformers
chromadb
pypdf
pymupdf
rapidocr-onnxruntime
rank-bm25
groq
numpy
